.login-button{
    display:flex;
    justify-content: flex-end;
    margin: 20px;
    cursor:pointer;
}


.nav-section{
    display: flex;
    justify-content: center;
}

.menu-list{
    display: flex;
    list-style-type: none;
}

.menu-list li{
    padding:10px;
}
.menu-area {
    display: flex;

    justify-content: center;
}


.search-box{
    border :none;
    border-bottom: 1px solid black;
    padding-left: 1.5rem;

}

.search-box:focus{
    outline: none;
    border :none;
    border-bottom: 1px solid red;
}

.wrapper {
    position:relative;
}

.icon{
    position: absolute;
  padding: 4px;
  left:2px;

}

.item-card{
    width: 90%;
    height: 90%;
 
}
.item-card:hover{
    width: 110%;
    height: 110%;

}
/* 요로케 하면 되네..!? 2023.04.13*/
@media screen and (max-width: 63rem){
    .menu-list{
        visibility: hidden;
    }
    .item-card:hover{
        
        width: 95%;
        height: 95%;
        
    }
}


.product-img{
    display: flex;
    justify-content: flex-end;
}

.logo{
    cursor: pointer;
}